.admin-dashboard {
  display: flex;
  height: 100vh;
  overflow: hidden;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.sidebar {
  width: 350px;
  backdrop-filter: blur(10px);
  color: #fff;
  padding: 20px;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.2);
  transition: width 0.3s ease;
  background-image: url('https://images.unsplash.com/photo-1619043518800-7f14be467dca?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80');
  background-size: cover;
  overflow-y: auto;
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #000000;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li .viewbutton {
  background-color: rgba(73, 71, 71, 0.5); /* Use rgba for transparency */
  padding: 10px;
  border: none;
  width: 100%;
  text-align: left;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border-radius: 8px; /* Optional: Add some border-radius for a rounded look */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box-shadow */
}

.sidebar ul li .viewbutton a {
  color: #fff;
  text-decoration: none;
  display:block;
  
  padding-left: 20px;
  
}

.sidebar ul li .viewbutton:hover {
  background-color: #101010;
}

.content {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
  background-image: url('https://images.unsplash.com/photo-1490481651871-ab68de25d43d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
  background-size: cover;
  overflow-y: auto;
}

.content header {
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  
}

.content header h1 {
  font-size: 32px;
  color: #000000;
}


.overview {
  display: flex;
  justify-content: space-between;
}

.generate-reports {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  cursor: pointer;
  position: relative;
}

.generate-reports h3 a,
.assign-secmng h3 a {
  text-decoration: none;
  color: #fff; 
}

.generate-reports p {
  font-size: 18px;
  color: #fff; 
}

.generate-reports-link {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: background-color 0.3s ease; 
}

.assign-new:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.assign-new {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  cursor: pointer;
  position: relative;
}

.assign-new h3 a,
.assign-secmng h3 a {
  text-decoration: none; 
  color: #fff; 
}

.assign-new p {
  font-size: 18px;
  color: #fff;
}

.assign-new-link {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: background-color 0.3s ease;
}